// Variables
$hero: #0F5288;
$sub: #579dd8;

// Mixins
@mixin flex {
  flex: 1;
}

@mixin column {
  flex-direction: column;
}

@mixin row {
  flex-direction: row;
}

@mixin bold {
  font-weight: bold;
}

@mixin center {
  align-items: center;
}

@mixin right {
  text-align: right;
}

@mixin heroText{
  color: $hero;
}

@mixin subText{
  color: $sub;
}

@mixin panel {
  background-color: #eee;
  margin-bottom: 5px;
}

@mixin grey6 {
  color: #666;
}

// Generic and common styles
hero {
  background-color: $hero;
  padding: 5px 5px 0 5px;
}

subs {
  background-color: $sub;
  padding: 5px;
  @include flex;
}

subsText{
  color: $sub;
}

row {
  @include row;
}

// Hompage
@mixin homepagePanel {
  @include panel;
}

homepageHeroPanel {
  @include homepagePanel;
  @include center;
  padding: 10px;
}

homepageHeroTitle {
  padding-top: 10px;
  font-size: 20px;
  @include subText;
}

homepageHeroDetailsTitle {
  padding: 7px;
  @include bold;
  @include right;
  @include grey6;
}

homepageHeroDetails {
  padding: 7px;
  @include grey6;
}

homepageSubPanel {
  @include homepagePanel;
  @include row;
  justify-content: center;
  padding: 5px;
}

homepageSubTitle {
  @include heroText;
  @include bold;
}

homepageBlockItem {
  @include flex;
  margin: 2px;
  @include center;
  padding-top: 5px;
}

homepageBlockTime {
  font-size: 13px;
  text-align: center
}

homepageBlockIcon {
  padding-top: 5px;
  padding-bottom: 15px;
  color: $hero;
}
