panel {
  background-color: #eee;
  margin-bottom: 5px;
}

hero {
  background-color: #0F5288;
  padding: 5px;
}

row {
  flex-direction: row;
}

center {
  align-items: center;
}

right {
  text-align: right;
}

bold {
  font-weight: bold;
}
