// Variables
$hero: #0F5288;
$sub: #579dd8;

// Mixins
@mixin flex {
  flex: 1;
}

@mixin column {
  flex-direction: column;
}

@mixin row {
  flex-direction: row;
}

@mixin bold {
  font-weight: bold;
}

@mixin center {
  align-items: center;
}

@mixin right {
  text-align: right;
}

@mixin heroText{
  color: $hero;
}

@mixin subText{
  color: $sub;
}

@mixin panel {
  background-color: #eee;
  margin-bottom: 5px;
}

@mixin red {
  color: red;
}

@mixin green {
  color: green;
}

@mixin grey6 {
  color: #666;
}

// Generic and common styles
hero {
  background-color: $hero;
  padding: 5px 5px 0 5px;
}

subs {
  background-color: $sub;
  padding: 5px;
  @include flex;
}

subsText{
  color: $sub;
}

row {
  @include row;
}

// Hompage
@mixin homepagePanel {
  @include panel;
}

container {
  @include flex;
  @include column;
}

heroPanel {
  @include homepagePanel;
  @include center;
  padding: 10px;
}

heroTitle {
  padding-top: 10px;
  font-size: 20px;
  @include subText;
}

heroDetailsTitle {
  padding: 7px;
  @include bold;
  @include right;
  @include grey6;
}

heroDetails {
  padding: 7px;
  @include grey6;
}

@mixin subPanel {
  @include homepagePanel;
  justify-content: center;
  padding: 5px;
}

homepageSubPanel {
  @include subPanel;
  @include row;
}

blockSubPanel {
  @include subPanel;
  @include column;
}

subPanelBorder {
  border-right-width:  1px;
  border-right-color: #579dd8;
  border-style: solid;
}

blockItem {
  @include flex;
  margin: 2px;
  @include center;
  padding-top: 5px;
}

blockTime {
  font-size: 13px;
  text-align: center
}

blockIcon {
  padding-top: 5px;
  padding-bottom: 15px;
  color: $hero;
}

red {
  @include red;
}

green {
  @include green;
}
